PORT=8081
MYSQL_DSN=sebelas:sebelas@tcp(localhost:3306)/sebelas_catalog
REDIS_ADDR=localhost:6379
TRIPAY_PPOB_API_KEY=
TRIPAY_PPOB_BASE_URL=https://tripay.id/api-sandbox
ADMIN_API_KEY=changeme
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
ADMIN_ROLE=editor
LOW_STOCK_THRESHOLD=5
AUDIT_LOG_LIMIT=200
